{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block title %} {% endblock %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

{% include 'menu.html' %}
<!-- mensages que cargara django de manera dinamica -->
<div>
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }}" > {{ message }} </div>
        {% endfor %}
    {% endif %}
</div>

{% block body %}
    <!-- Contenido que se cargara dinamicamente en otro archivo  -->
{% endblock %}

{% include './footer.html' %}
{% include './scripts.html' %}
</body>
</html>